@import "../../../../styles/index.scss";

.wrapper {
  .get-in-touch {
    &__head {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-title {
        margin-top: map-get($map: $space, $key: 10);
        font-size: map-get($map: $font-sizes, $key: "4xl");
        line-height: map-get($map: $lineHeights, $key: "none");
        text-align: center;
      }

      &-subtitle {
        margin-top: map-get($map: $space, $key: 4);
        max-width: 600px;
        text-align: center;
      }
    }

    .outer-circle {
      position: relative;
      background-color: map-get($map: $colors, $key: "mustard-light");
      border-radius: map-get($map: $border-radius, $key: "full");
      width: 200px;
      height: 200px;

      .inner-circle {
        position: absolute;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-color: map-get($map: $colors, $key: "mustard");
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: map-get($map: $space, $key: 4);
      margin-top: map-get($map: $space, $key: 14);

      &--item {
        padding: map-get($map: $space, $key: 5);
        border-radius: map-get($map: $border-radius, $key: "3xl");
        background-color: map-get($map: $colors, $key: "bg-light");
        transition: box-shadow 0.5s ease-in-out;
        cursor: pointer;

        .item-icon__wrap {
          display: flex;
          background-color: map-get($map: $colors, $key: "mustard");
          width: max-content;
          padding: map-get($map: $space, $key: 3);
          border-radius: map-get($map: $border-radius, $key: "xl");

          object {
            height: 25px;
            width: auto;
          }
        }

        .title {
          font-size: map-get($map: $font-sizes, $key: "xl");
          margin-top: map-get($map: $space, $key: 12);
        }

        .subtitle {
          margin-top: map-get($map: $space, $key: 2);
        }

        .btn-hover:last-child {
          margin-top: map-get($map: $space, $key: 5);
          max-width: 240px;
          padding: 1rem 2.5rem;
        }

        &:hover,
        &:focus {
          box-shadow: 0px 16px 36px -19px rgba(0, 0, 0, 0.3);
        }
      }
    }

    .message-us {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: map-get($map: $space, $key: 14);
      gap: map-get($map: $space, $key: 1);

      &__title {
        font-size: map-get($map: $font-sizes, $key: "3xl");
      }

      .form {
        display: flex;
        flex-direction: column;
        max-width: 650px;
        margin-top: map-get($map: $space, $key: 6);
        width: 100%;

        .form-control {
          position: relative;

          label,
          input[type="email"],
          input[type="password"],
          input[type="text"] {
            display: block;
            width: 100%;
            font-size: map-get($map: $font-sizes, $key: "sm");
          }

          input:not([type="checkbox"]) {
            border: none;
            background-color: map-get($map: $colors, $key: "bg-light");
            border-radius: map-get($map: $border-radius, $key: "xl");
          }

          input {
            padding: map-get($map: $space, $key: 4);
            font-size: map-get($map: $font-sizes, $key: "md");
          }

          &.error {
            input {
              border: $base-border-thickness solid #c53030;
            }

            &::after {
              content: url("/img/circle-exclamation.svg");
              position: absolute;
              width: 24px;
              right: 10px;
              top: 50%;
              transform: scale(70%);
            }
          }
        }
      }

      textarea {
        background-color: map-get($map: $colors, $key: "bg-light");
        padding: map-get($map: $space, $key: 4);
        font-size: map-get($map: $font-sizes, $key: "md");
        border-radius: map-get($map: $border-radius, $key: "3xl");
        border: none;
        width: 100%;
      }
      .btn-default:last-child {
        align-self: flex-end;
      }
    }

    @include md {
      &__head {
        &-title {
          font-size: map-get($map: $font-sizes, $key: "6xl");
        }
      }

      &__grid {
        margin-top: map-get($map: $space, $key: 18);
      }

      .message-us {
        &__title {
          font-size: map-get($map: $font-sizes, $key: "4xl");
        }
      }
    }
  }
}
