@import "../../../styles/index.scss";

.quantity-control {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .quantity-text {
    font-size: map-get($map: $font-sizes, $key: "lg");
  }

  .input-number__wrap {
    background-color: map-get($map: $colors, $key: "off-white");
    padding: map-get($map: $space, $key: 1);
  }

  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .number-input {
    display: inline-flex;
    background-color: white;
  }

  .number-input button {
    outline: none;

    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }

  .number-input button:after {
    display: inline-block;
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .number-input input[type="number"] {
    font-family: sans-serif;
    max-width: 3rem;
    min-width: 3rem;
    border: none;
    border-width: 0 2px;
    font-size: 1rem;
    height: 2rem;
    text-align: center;
    background-color: map-get($map: $colors, $key: "off-white");
  }
}
