@import "../../../styles/index.scss";

.wrapper {
  width: inherit;
  max-width: map-get($sizes, "sizes", "7xl");
  margin: 4.5rem auto;

  .jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url("/img/home/alyssa-strohmann-TS--uNw-JqE-unsplash.jpg")
      no-repeat center;
    background-size: cover;
    border-radius: map-get($map: $border-radius, $key: "3xl");
    padding: map-get($map: $space, $key: 10);
    position: relative;
    overflow: hidden;
    gap: map-get($map: $space, $key: 4);

    &-title__wrap {
      z-index: 1;
    }

    &-title {
      font-family: "Roboto Condensed";
      color: map-get($map: $colors, $key: "white");
      line-height: map-get($map: $lineHeights, $key: "none");
      font-size: map-get($map: $font-sizes, $key: "6xl");

      .title-accent {
        color: map-get($map: $colors, $key: "mustard");
      }
    }

    .cta-section {
      display: flex;
      flex-direction: column;
      gap: map-get($map: $space, $key: 4);
      color: map-get($map: $colors, $key: "white");
      z-index: 1;
    }

    .cta-btn-group {
      display: flex;
      flex-direction: column;
      gap: map-get($map: $space, $key: 4);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    @include md {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      &-title {
        font-size: map-get($map: $font-sizes, $key: "7xl");
      }

      .cta-btn-group {
        flex-direction: row;
      }
    }

    @include lg {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      gap: map-get($map: $space, $key: 4);
      padding: map-get($map: $space, $key: 16);
      height: 45rem;

      &-title {
        font-size: map-get($map: $font-sizes, $key: "8xl");
      }

      .cta-section {
        max-width: 26rem;
      }
      .cta-btn-group {
        display: flex;
      }
    }
  }
}

.wrapper {
  .collection {
    &__new {
      display: flex;
      flex-direction: column;
      background-color: map-get($map: $colors, $key: "mustard");

      .collection-content__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
        color: map-get($map: $colors, $key: "black");
        height: 100%;
        gap: 1rem;

        .collection-discount {
          font-family: "Bodoni";
          font-size: map-get($map: $font-sizes, $key: "5xl");
          line-height: map-get($map: $lineHeights, $key: "none");
        }

        .collection-discount__season {
          font-size: map-get($map: $font-sizes, $key: "xl");
        }

        .collection-discount + .collection-discount__season {
          margin-top: map-get($map: $space, $key: 4);
        }

        .new-collection {
          max-width: 100%;
          padding: 1rem 2.5rem;
        }
        @include lg {
          padding: 2rem;
          gap: 0.5rem;

          .collection-discount {
            font-size: map-get($map: $font-sizes, $key: "5xl");
          }
          .collection-discount__season {
            font-size: map-get($map: $font-sizes, $key: "xl");
          }
        }
      }
    }
  }

  .collections-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    height: auto;

    .collection-text__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .collection {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 10px;
      border-radius: map-get($map: $border-radius, $key: "3xl");
      height: 22rem;
      cursor: pointer;

      .frosted-glass__section {
        background-color: rgba(0, 0, 0, 0.25);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        color: map-get($colors, "white");
        padding: 3rem 1.75rem;
        border-radius: map-get($map: $border-radius, $key: "3xl");

        .collection-title {
          font-size: map-get($map: $font-sizes, $key: "xl");
        }
      }

      a {
        color: map-get($map: $colors, $key: "off-white");
      }
    }

    .women {
      background: url("/img/home/women-collection.jpg") no-repeat center;
    }

    .men {
      background: url("/img/home/man-collection-2.jpg") no-repeat center;
    }

    .all-gender {
      background: url("/img/home/All-collection.jpg") no-repeat center;
    }

    .women,
    .men,
    .all-gender {
      background-size: cover;
    }

    @include md {
      grid-template-columns: repeat(3, 1fr);
      // grid-template-rows: 20% 45% 35%;
      height: 45rem;

      .collection {
        height: initial;
      }
      .grid-col-span-2 {
        grid-column: span 2;
      }

      .grid-row-span-2 {
        grid-row: span 2;
      }

      .collection:nth-child(2) {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: span 3;
      }
    }
  }
}

.wrapper {
  .exclusive-deals {
    color: map-get($map: $colors, $key: "dark-gray");

    .exclusive-deals-header {
      display: flex;
      flex-direction: column;
      gap: map-get($map: $space, $key: 4);

      &__title {
        font-size: map-get($map: $font-sizes, $key: "4xl");
        line-height: map-get($map: $lineHeights, $key: "none");
      }
    }

    .exclusive-deals-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      margin-top: map-get($map: $space, $key: 4);

      &__item {
        border-radius: map-get($map: $border-radius, $key: "3xl");
        transition: box-shadow 0.5s ease-in-out;
        cursor: pointer;

        .overflow-control {
          overflow: hidden;
          //   max-height: 450px;
          border-radius: map-get($map: $border-radius, $key: "3xl");
          position: relative;
          aspect-ratio: 4/4;

          #burst-8 {
            background: map-get($map: $colors, $key: "mustard");
            width: 80px;
            height: 80px;
            position: absolute;
            top: 40px;
            left: 40px;
            text-align: center;
            transform: rotate(0deg);
            border-radius: 10px;
            z-index: 10;
          }

          #burst-8:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 80px;
            width: 80px;
            background: map-get($map: $colors, $key: "mustard");
            transform: rotate(135deg);
            border-radius: 10px;
          }

          #burst-8 .disc,
          #burst-8 .percent {
            position: absolute;
            font-family: "Roboto condensed";
            transform: translate(-50%, -50%);
          }

          #burst-8 .disc {
            top: 30%;
            left: 50%;
            color: map-get($map: $colors, $key: "dark-gray");
            font-size: map-get($map: $font-sizes, $key: "lg");
          }

          #burst-8 .percent {
            top: 63%;
            left: 50%;
            font-size: map-get($map: $font-sizes, $key: "3xl");
            color: map-get($map: $colors, $key: "error");
          }
        }

        &--img {
          height: auto;

          transition: transform 0.5s, filter 1s ease-in-out;
          object-fit: cover;
        }

        &:hover > .overflow-control > img,
        &:focus > .overflow-control > img {
          transform: scale(1.1);
        }

        &:hover,
        &:focus {
          box-shadow: 0px 16px 36px -19px rgba(0, 0, 0, 0.3);

          .btn-hover {
            background-color: map-get($map: $colors, $key: "mustard");
            border-color: map-get($map: $colors, $key: "mustard");
          }
        }

        &--content {
          padding: map-get($map: $space, $key: 4);
        }

        &--title {
          font-size: map-get($map: $font-sizes, $key: "xl");
        }

        &--desc {
          font-size: map-get($map: $font-sizes, $key: "sm");
          padding: map-get($map: $space, $key: 2) 0;
        }

        .exclusive-deals-grid__prices {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .price-group {
            display: flex;
            align-items: center;
            gap: map-get($map: $space, $key: 4);

            .price {
              font-size: map-get($map: $font-sizes, $key: "2xl");
            }

            .discount-price {
              color: map-get($map: $colors, $key: "gray-light");
            }

            .strike {
              position: relative;
              display: inline-block;
            }
            .strike::before {
              content: "";
              width: 100%;
              position: absolute;
              right: 0;
              top: 50%;
            }
            .strike::before {
              border-bottom: 2px solid map-get($map: $colors, $key: "error");
              -webkit-transform: skewY(-6deg);
              transform: skewY(-6deg);
            }
          }
        }
      }

      @include md {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin-top: map-get($map: $space, $key: 16);
      }
      @include lg {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      }
    }

    @include lg {
      .exclusive-deals-header {
        flex-direction: row;
        &__title {
          font-size: map-get($map: $font-sizes, $key: "6xl");
        }

        &__title + p {
          max-width: 50%;
        }

        button {
          text-wrap: nowrap;
        }
      }
    }
  }
}

.wrapper {
  .shop-with-us {
    color: map-get($map: $colors, $key: "dark-gray");

    &-head {
      display: flex;
      flex-direction: column;
      gap: map-get($map: $space, $key: 8);
    }

    &__text {
      &-title {
        font-size: map-get($map: $font-sizes, $key: "4xl");
        line-height: map-get($map: $lineHeights, $key: "none");
      }

      &-body {
        margin-top: map-get($map: $space, $key: 6);
      }
    }

    &__img-wrap {
      position: relative;
      border-radius: map-get($map: $border-radius, $key: "3xl");
      overflow: hidden;
      aspect-ratio: 9/7;

      .shop-with-us__img {
        object-fit: cover;
      }
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
      margin-top: map-get($map: $space, $key: 12);
      gap: map-get($map: $space, $key: 10);

      &__item {
        display: flex;
        flex-direction: column;
        gap: map-get($map: $space, $key: 4);

        &-img_wrap {
          width: max-content;
          background-color: map-get($map: $colors, $key: "dark-gray");
          padding: map-get($map: $space, $key: 4);
          border-radius: map-get($map: $border-radius, $key: "full");
        }
      }
    }

    @include md {
      &-head {
        flex-direction: row;
        // gap: 8rem;
      }

      &__text,
      &__img-wrap {
        flex-basis: 50%;
      }

      &-grid {
        margin-top: map-get($map: $space, $key: 14);
      }
    }

    @include lg {
      &-head {
        flex-direction: row;
        gap: 8rem;
      }
      &__text {
        &-title {
          font-size: map-get($map: $font-sizes, $key: "6xl");
        }

        &-body {
          margin-top: map-get($map: $space, $key: 4);
        }
      }

      &-grid {
        margin-top: map-get($map: $space, $key: 14);
        &__item {
          &-heading {
            font-size: map-get($map: $font-sizes, $key: "2xl");
          }
        }
      }
    }
  }
}

.wrapper {
  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: map-get($map: $colors, $key: "dark-gray");
    color: map-get($map: $colors, $key: "white");
    border-radius: map-get($map: $border-radius, $key: "3xl");
    text-align: center;
    padding: map-get($map: $space, $key: 10);

    &-title {
      font-family: "Roboto Condensed";
      font-size: map-get($map: $font-sizes, $key: "4xl");
      line-height: map-get($map: $lineHeights, $key: "none");
    }

    &-body {
      margin-top: map-get($map: $space, $key: 6);
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: map-get($map: $space, $key: 8);

      .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: map-get($map: $space, $key: 2);

        .username__wrap {
          .user-location {
            font-style: italic;
            color: map-get($colors, "off-white");
          }
        }
      }

      .user-info > .user-img {
        border-radius: map-get($map: $border-radius, $key: "full");
        object-fit: cover;
      }

      .btn-arrow {
        @include btn(
          map-get($colors, "off-white"),
          map-get($colors, "mustard")
        );
        width: map-get($sizes, "sizes", space, 16);
        height: map-get($sizes, "sizes", space, 16);
      }

      .active {
        background-color: map-get($colors, "mustard");
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(50%);
      }
    }

    @include md {
      padding: map-get($map: $space, $key: 14);

      &-title {
        font-size: map-get($map: $font-sizes, $key: "5xl");
      }

      &-body {
        font-size: map-get($map: $font-sizes, $key: "2xl");
      }

      .navigation {
        .user-info {
          flex-direction: row;
          gap: map-get($map: $space, $key: 4);

          .username__wrap {
            text-align: left;

            .username {
              font-size: map-get($map: $font-sizes, $key: "xl");
            }
          }
        }
      }
    }

    @include lg {
      padding: map-get($map: $space, $key: 16);

      &-title {
        font-size: map-get($map: $font-sizes, $key: "6xl");
      }

      &-body {
        font-size: map-get($map: $font-sizes, $key: "3xl");
      }
    }
  }
}

.wrapper {
  .management-quote__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 1rem;

    .management-quote__img {
      background: url("/img/home/CEO.jpg") no-repeat center;
      background-size: cover;
      height: 28rem;
    }

    .management-quote__content {
      display: flex;
      flex-direction: column;
      background-color: map-get($map: $colors, $key: "dark-gray");
      color: map-get($map: $colors, $key: "white");
      padding: map-get($map: $space, $key: 10);

      .quotation-mark {
        font-family: "Bodoni";
        object-fit: cover;
      }

      .management-quote__text {
        font-size: map-get($map: $font-sizes, $key: "2xl");
        margin-top: map-get($map: $space, $key: 4);
      }

      .management-info {
        margin-top: map-get($map: $space, $key: 4);

        .management-name {
          font-size: map-get($map: $font-sizes, $key: "xl");
        }

        .management-position {
          color: map-get($map: $colors, $key: "off-white");
          font-size: map-get($map: $font-sizes, $key: "sm");
        }

        .management-position > span {
          font-style: italic;
        }
      }
    }

    .management-quote__img,
    .management-quote__content {
      border-radius: map-get($map: $border-radius, $key: "3xl");
    }

    @include md {
      flex-direction: row-reverse;
      .management-quote__img,
      .management-quote__content {
        flex: 50%;
        height: initial;
      }
    }

    @include lg {
      .management-quote__content {
        padding: map-get($map: $space, $key: 16);

        .management-quote__text {
          font-size: map-get($map: $font-sizes, $key: "4xl");
        }

        .management-info {
          .management-name {
            font-size: map-get($map: $font-sizes, $key: "2xl");
          }

          .management-position {
            font-size: map-get($map: $font-sizes, $key: "md");
          }
        }
      }
    }
  }
}
