@mixin hover-underline-animation($color) {
  display: inline-block;
  position: relative;
  color: $color;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.hover-underline-animation-white {
  @include hover-underline-animation(map-get($map: $colors, $key: "off-white"));
}

@mixin gooeyEffect($i) {
  @keyframes gooeyEffect-#{$i} {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 0.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}
