$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "px": 1px,
      "h": 0.125rem,
      "1": 0.25rem,
      "1h": 0.375rem,
      "2": 0.5rem,
      "3": 0.875rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 1.75rem,
      "8": 2rem,
      "9": 2.25rem,
      "10": 2.5rem,
      "12": 3rem,
      "14": 3.5rem,
      "16": 4rem,
      "20": 5rem,
      "24": 6rem,
      "28": 7rem,
      "32": 8rem,
      "36": 9rem,
      "40": 10rem,
      "44": 11rem,
      "48": 12rem,
      "52": 13rem,
      "56": 14rem,
      "60": 15rem,
      "64": 16rem,
      "72": 18rem,
      "80": 20rem,
      "96": 24rem,
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "px": 1px,
      "h": 0.125rem,
      "1": 0.25rem,
      "1h": 0.375rem,
      "2": 0.5rem,
      "3": 0.875rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 1.75rem,
      "8": 2rem,
      "9": 2.25rem,
      "10": 2.5rem,
      "12": 3rem,
      "14": 3.5rem,
      "16": 4rem,
      "20": 5rem,
      "24": 6rem,
      "28": 7rem,
      "32": 8rem,
      "36": 9rem,
      "40": 10rem,
      "44": 11rem,
      "48": 12rem,
      "52": 13rem,
      "56": 14rem,
      "60": 15rem,
      "64": 16rem,
      "72": 18rem,
      "80": 20rem,
      "96": 24rem,
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "px": 1px,
      "h": 0.125rem,
      "1": 0.25rem,
      "1h": 0.375rem,
      "2": 0.5rem,
      "3": 0.875rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 1.75rem,
      "8": 2rem,
      "9": 2.25rem,
      "10": 2.5rem,
      "12": 3rem,
      "14": 3.5rem,
      "16": 4rem,
      "20": 5rem,
      "24": 6rem,
      "28": 7rem,
      "32": 8rem,
      "36": 9rem,
      "40": 10rem,
      "44": 11rem,
      "48": 12rem,
      "52": 13rem,
      "56": 14rem,
      "60": 15rem,
      "64": 16rem,
      "72": 18rem,
      "80": 20rem,
      "96": 24rem,
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "px": 1px,
      "h": 0.125rem,
      "1": 0.25rem,
      "1h": 0.375rem,
      "2": 0.5rem,
      "3": 0.875rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 1.75rem,
      "8": 2rem,
      "9": 2.25rem,
      "10": 2.5rem,
      "12": 3rem,
      "14": 3.5rem,
      "16": 4rem,
      "20": 5rem,
      "24": 6rem,
      "28": 7rem,
      "32": 8rem,
      "36": 9rem,
      "40": 10rem,
      "44": 11rem,
      "48": 12rem,
      "52": 13rem,
      "56": 14rem,
      "60": 15rem,
      "64": 16rem,
      "72": 18rem,
      "80": 20rem,
      "96": 24rem,
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "px": 1px,
      "h": 0.125rem,
      "1": 0.25rem,
      "1h": 0.375rem,
      "2": 0.5rem,
      "3": 0.875rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 1.75rem,
      "8": 2rem,
      "9": 2.25rem,
      "10": 2.5rem,
      "12": 3rem,
      "14": 3.5rem,
      "16": 4rem,
      "20": 5rem,
      "24": 6rem,
      "28": 7rem,
      "32": 8rem,
      "36": 9rem,
      "40": 10rem,
      "44": 11rem,
      "48": 12rem,
      "52": 13rem,
      "56": 14rem,
      "60": 15rem,
      "64": 16rem,
      "72": 18rem,
      "80": 20rem,
      "96": 24rem,
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "px": 1px,
      "h": 0.125rem,
      "1": 0.25rem,
      "1h": 0.375rem,
      "2": 0.5rem,
      "3": 0.875rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 1.75rem,
      "8": 2rem,
      "9": 2.25rem,
      "10": 2.5rem,
      "12": 3rem,
      "14": 3.5rem,
      "16": 4rem,
      "20": 5rem,
      "24": 6rem,
      "28": 7rem,
      "32": 8rem,
      "36": 9rem,
      "40": 10rem,
      "44": 11rem,
      "48": 12rem,
      "52": 13rem,
      "56": 14rem,
      "60": 15rem,
      "64": 16rem,
      "72": 18rem,
      "80": 20rem,
      "96": 24rem,
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "px": 1px,
      "h": 0.125rem,
      "1": 0.25rem,
      "1h": 0.375rem,
      "2": 0.5rem,
      "3": 0.875rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 1.75rem,
      "8": 2rem,
      "9": 2.25rem,
      "10": 2.5rem,
      "12": 3rem,
      "14": 3.5rem,
      "16": 4rem,
      "20": 5rem,
      "24": 6rem,
      "28": 7rem,
      "32": 8rem,
      "36": 9rem,
      "40": 10rem,
      "44": 11rem,
      "48": 12rem,
      "52": 13rem,
      "56": 14rem,
      "60": 15rem,
      "64": 16rem,
      "72": 18rem,
      "80": 20rem,
      "96": 24rem,
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "px": 1px,
      "h": 0.125rem,
      "1": 0.25rem,
      "1h": 0.375rem,
      "2": 0.5rem,
      "3": 0.875rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 1.75rem,
      "8": 2rem,
      "9": 2.25rem,
      "10": 2.5rem,
      "12": 3rem,
      "14": 3.5rem,
      "16": 4rem,
      "20": 5rem,
      "24": 6rem,
      "28": 7rem,
      "32": 8rem,
      "36": 9rem,
      "40": 10rem,
      "44": 11rem,
      "48": 12rem,
      "52": 13rem,
      "56": 14rem,
      "60": 15rem,
      "64": 16rem,
      "72": 18rem,
      "80": 20rem,
      "96": 24rem,
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "px": 1px,
      "h": 0.125rem,
      "1": 0.25rem,
      "1h": 0.375rem,
      "2": 0.5rem,
      "3": 0.875rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 1.75rem,
      "8": 2rem,
      "9": 2.25rem,
      "10": 2.5rem,
      "12": 3rem,
      "14": 3.5rem,
      "16": 4rem,
      "20": 5rem,
      "24": 6rem,
      "28": 7rem,
      "32": 8rem,
      "36": 9rem,
      "40": 10rem,
      "44": 11rem,
      "48": 12rem,
      "52": 13rem,
      "56": 14rem,
      "60": 15rem,
      "64": 16rem,
      "72": 18rem,
      "80": 20rem,
      "96": 24rem,
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "px": 1px,
      "h": 0.125rem,
      "1": 0.25rem,
      "1h": 0.375rem,
      "2": 0.5rem,
      "3": 0.875rem,
      "4": 1rem,
      "5": 1.25rem,
      "6": 1.5rem,
      "7": 1.75rem,
      "8": 2rem,
      "9": 2.25rem,
      "10": 2.5rem,
      "12": 3rem,
      "14": 3.5rem,
      "16": 4rem,
      "20": 5rem,
      "24": 6rem,
      "28": 7rem,
      "32": 8rem,
      "36": 9rem,
      "40": 10rem,
      "44": 11rem,
      "48": 12rem,
      "52": 13rem,
      "56": 14rem,
      "60": 15rem,
      "64": 16rem,
      "72": 18rem,
      "80": 20rem,
      "96": 24rem,
    ),
  ),
  "font-size": (
    "prefix": "font",
    "values": (
      "xs": 0.75rem,
      "sm": 0.875rem,
      "md": 1rem,
      "lg": 1.125rem,
      "xl": 1.25rem,
      "2xl": 1.5rem,
      "3xl": 1.875rem,
      "4xl": 2.25rem,
      "5xl": 3rem,
      "6xl": 3.75rem,
      "7xl": 4.5rem,
      "8xl": 6rem,
      "9xl": 8rem,
    ),
  ),
  "font-weight": (
    "prefix": "fw",
    "values": (
      "hairline": 100,
      "thin": 200,
      "light": 300,
      "normal": 400,
      "medium": 500,
      "semibold": 600,
      "bold": 700,
      "extrabold": 800,
      "black": 900,
    ),
  ),
);

@each $property, $map in $utilities {
  $prefix: map-get(
    $map: $map,
    $key: "prefix",
  );
  $values: map-get(
    $map: $map,
    $key: "values",
  );

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
